/*  ------------------------ */
/*  Custom properties        */
/*  ------------------------ */

:root {

    --clr-primary-dark-blue: 240 100% 9%;
    --clr-primary-white: 240 0% 97%;
    --clr-accent-blue: 198 100% 62%;
    --clr-dark-grey: 0 0% 38%;



    /* font sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font families */

    --ff-poppins: 'Poppins', sans-serif;

}

/*  ------------------------ */
/*  Reset                    */
/*  ------------------------ */

/* Box sizing */

*, *::before, *::after {

    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

/* set up body */

body {

    font-family: var(--ff-poppins);
    font-size: var(--fs-400);
    line-height: 1.5;
    min-height: 100vh;
    width: 100%;
}

/* adjust images  */
img{

    max-width: 100%;
    display: block;
}

/* adjust form elements */
input,
button,
select {

    font: inherit;
}

/* remove animations for people who have turned them off */
@media (prefers-reduced-motion: reduce ){

    *,
    *::before,
    *::after {

        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;

    }
}

/*  ------------------------ */
/*  Typography               */
/*  ------------------------ */

/* text colours */
.text-dark-accent {
    color: hsl(var(--clr-primary-dark-blue));
}

.text-dark {
    color: hsl(var(--clr-dark-grey));
}
.text-accent {
    color: hsl(var(--clr-accent-blue));
}

/* font sizes */

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }
.fs-100 { font-size: var(--fs-100); }

/*  ------------------------ */
/*  Components               */
/*  ------------------------ */

/* ----  Navigation bar ---- */
.primary-header {

    width: 100%;
    height: 65px;
    padding: 0.5rem;
    box-shadow: 0px 1px 15px hsl(var(--clr-primary-dark-blue)  / .3)

}

.primary-header .logo a {

    text-decoration: none;

}

.primary-header .logo a h1 {

    color: hsl(var(--clr-accent-blue));
    font-weight: 600;

}


.primary-navigation {

    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {

    text-decoration: none;
    color: hsl(var(--clr-dark-grey));

}

.primary-navigation li a:hover {

    color: hsl(var(--clr-accent-blue));
}


/* ----  cta buttons ---- */

.action-btn-filled {
    
    background: hsl(var(--clr-primary-dark-blue));
    border: 1px solid hsl(var(--clr-primary-dark-blue));
    color: hsl(var(--clr-primary-white));
}

.action-btn-outline {

    background: hsl(var(--clr-primary-white));
    border: 1px solid hsl(var(--clr-primary-dark-blue));
    color: hsl(var(--clr-primary-dark-blue));

}

.action-btn-filled:hover, .action-btn-outline:hover {

    background: hsl(var(--clr-accent-blue));
    border: 1px solid hsl(var(--clr-accent-blue));
    color: hsl(var(--clr-primary-white));
}


/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */

.main-container {

    margin: 4rem auto;
    max-width: 80em;

    
}


.registry-form form div {

    margin: 0.5rem 0;

}

.registry-form form div p {

    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 14px;
    color: hsl(var(--clr-dark-grey));
}

.registry-form {

    border: 1px solid #ccc;
    border-radius: 5px;

}

form {

    padding: 2rem 4rem;
    width: inherit;
    /* max-width: 25em; */

}

/* ----------------------------- */
/* customizing html element     */
/* ----------------------------- */


/* ----------------------------- */
/* Registry Banner               */
/* ----------------------------- */

.registry-banner img {

    max-height: 400px;

}

.registry-banner h2 {

    color: hsl(var(--clr-primary-dark-blue));
}


/* ----------------------------- */
/* Pet Type                      */
/* ----------------------------- */
.pet-type-selection label {

    width: 125px;
}

.pet-type-input-label {

    
    color: hsl(var(--clr-primary-dark-blue));
    background: hsl(var(--clr-primary-white));
    border-color: hsl(var(--clr-primary-dark-blue));
}

.pet-type-input:checked + .pet-type-input-label {

    color: #fff;
    background: hsl(var(--clr-accent-blue));
    border-color: hsl(var(--clr-accent-blue));
}

.pet-type-input:hover + .pet-type-input-label{

    color: #fff;
    background: hsl(var(--clr-accent-blue));
    border-color: hsl(var(--clr-accent-blue));
}

/* ----------------------------- */
/* Breed selection               */
/* ----------------------------- */

/* breed selection before checked */
.breed-input {

    background-color: #d0d0d0;
    border: 1px solid #d0d0d0;
}

/* radio buttons after check */
.breed-input:checked {

    background-color: hsl(var(--clr-accent-blue));
    border: 1px solid hsl(var(--clr-accent-blue));
}

.mixed-breed-input {

    display: none;
}


/* ----------------------------- */
/* Gender selection              */
/* ----------------------------- */

.gender-selection label {

    width: 125px;
}

.gender-input-label {

    
    color: hsl(var(--clr-primary-dark-blue));
    background: #fff;
    border-color: hsl(var(--clr-primary-dark-blue));
}

.gender-input:checked + .gender-input-label {

    color: #fff;
    background: hsl(var(--clr-accent-blue));
    border-color: hsl(var(--clr-accent-blue));
}

.gender-input:hover + .gender-input-label{

    color: #fff;
    background: hsl(var(--clr-accent-blue));
    border-color: hsl(var(--clr-accent-blue));
}


/* media queries */
/*  540px */
